<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.io.ikaonigiri.repository.BoardRepository">

    <select id="callBoards" parameterType="int" resultType="java.util.HashMap">
        SELECT * FROM board where board_no=#{board_no} ORDER BY id DESC
    </select>

    <select id="callBoard" parameterType="int" resultType="java.util.HashMap">
        SELECT * FROM board where id=#{id}
    </select>

    <insert id="insertBoard" parameterType="java.util.HashMap">
        INSERT INTO board(title,writer,content,board_no) VALUES(#{title},#{writer},#{content},#{role})
    </insert>
</mapper>