<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.io.ikaonigiri.repository.LoginRepository">

    <select id="checkLogIn" parameterType="String" resultType="java.util.HashMap">
        SELECT * FROM user where user_id=#{input_id}
    </select>


</mapper>